@import url("https://fonts.google.com/specimen/Hanken+Grotesk");
* {
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 1240px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(221, 100%, 96%);
}

p {
  color: hsl(241, 100%, 89%);
  font-size: 18px;
}

.container {
  display: flex;
  border-radius: 10px;
  width: 50%;
  gap: 10px;
  background-color: hsl(0, 0%, 100%);
}

.result {
  background-color: hsl(234, 85%, 45%);
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.result > h2 {
  color: hsl(0, 0%, 100%);
}

.seven {
  background-color: hsla(256, 72%, 46%, 1);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.seven > h1 {
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 26px;
}

.seven>p{
    margin-bottom: 26px;
}
/***************************************/


.summary{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.title{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.title>img{
    width: 20px;
}

.reaction{
    display: flex;
    justify-content: space-between;
}

.summary>button:hover{
    background-color: hsla(256, 72%, 46%, 1);
    cursor: pointer;
}


.summary>button{
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-color:rgb(60, 59, 61);
    padding: 15px;
    border: none;
    border-radius: 20px;
}

em{
    color: rgb(60, 59, 61);
    font-style: normal;
    font-weight: 600;
}